---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Link from "@components/ui/link.astro";

// Filter blog entries with 'draft: false' & date before current date
const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

// Sort content entries by publication date
publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Nuestro Blog</Fragment>
      <Fragment slot="desc">
        Escribimos sobre finanzas personales y mejores prácticas con el único
        fin en mente de ayudar a la gente a tomar el control de su destino
        financiero.
      </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="mx-auto grid max-w-4xl gap-16">
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
            <li>
              <div class="grid items-center gap-5 md:grid-cols-2 md:gap-10">
                <div class="h-80">
                  <a href={blogPostEntry.slug}>
                    <Image
                      src={blogPostEntry.data.image.src}
                      alt={blogPostEntry.data.image.alt}
                      width={428}
                      format="avif"
                      quality="mid"
                      loading={index <= 2 ? "eager" : "lazy"}
                      decoding={index <= 2 ? "sync" : "async"}
                      class="h-full w-full rounded-md object-cover"
                    />
                  </a>
                </div>
                <div>
                  <span class="text-sm font-semibold uppercase tracking-wider text-indigo-500">
                    {blogPostEntry.data.category}
                  </span>

                  <a href={blogPostEntry.slug}>
                    <h2 class="text-3xl font-semibold leading-snug tracking-tight text-slate-700 dark:text-slate-100">
                      {blogPostEntry.data.title}
                    </h2>
                  </a>

                  <div class="mt-0 flex gap-2">
                    <span class="text-gray-400">
                      {blogPostEntry.data.author}
                    </span>
                    <span class="text-slate-400">• </span>
                    <time
                      class="text-slate-400"
                      datetime={blogPostEntry.data.publishDate.toISOString()}
                    >
                      {blogPostEntry.data.publishDate.toDateString()}
                    </time>
                  </div>
                  <div class="mb-8 mt-3 dark:text-slate-400">
                    {blogPostEntry.data.snippet}
                  </div>
                  <Link href={blogPostEntry.slug} style="outline">
                    Seguir leyendo...
                  </Link>
                </div>
              </div>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
