---
// Librerias
import { Image } from "astro:assets";

// Data
import {testimonios} from '../data/testimonials.js'

// Filtrar testimonios correspondientes
const testimoniosInicio = testimonios.filter(testimonio => testimonio.pagina === 'inicio' && testimonio.seccion === 'testimonios')
---

<section class="max-w-4xl mx-auto mb-8 mt-8 md:mt-0">
  <h2 class="mb-28 sm:mb-40 text-center text-2xl sm:text-3xl font-bold">
    Lo que otros dicen
  </h2>
  {
    testimoniosInicio.map((testimonio) => (
      <div class="px-4 sm:px-12 pb-8 mb-24 sm:mb-48 border rounded-lg relative flex flex-col items-center gap-8 text-center">
        <Image
          src={testimonio.foto.src}
          alt={testimonio.foto.alt}
          class="w-36 h-36 sm:w-52 sm:h-52 object-cover rounded-full absolute -translate-y-1/2 border"
        />
        <p class="text-2xl sm:text-3xl max-w-xl font-sans mt-32">
          {testimonio.descripcion}
        </p>
        <p>
          <span class="font-bold text-indigo-500">{testimonio.nombre}</span> ∙
          {testimonio.ocupacion}
        </p>
      </div>
    ))
  }
</section>
